div, li, ul, img {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none; 
}

ul, img {
    border: 1px black solid;
}

.description {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}