    <h2 *ngIf= "items || itemsUpc || itemsAmazon">Price Summary</h2>
    <div class="container">
    <div *ngIf="items || itemsUpc || itemsAmazon">
       
        <div class="item-description">
            <div class="item">Merchant</div>
            <div class="item">Condition</div>
            <div class="item">Price</div>
        </div>

        <div *ngIf="itemsAmazon">
                <div class="itemContainer" *ngFor="let item of itemsAmazon.ItemLookupResponse[0].Items[0].Item[0].Offers[0].Offer">
                    <div class="item">
                        <a [href]="itemsAmazon.ItemLookupResponse[0].Items[0].Item[0].Offers[0].MoreOffersUrl[0]" target="_blank">Amazon</a>
                    </div>
                    <div class="item">
                        {{ item.OfferAttributes[0].Condition[0] }}
                    </div>
                    <div class="item">
                        {{ item.OfferListing[0].Price[0].FormattedPrice[0] }}
                    </div>
                </div>
        </div>

        <div class="ebayItems" *ngIf="items">
                <div class="itemContainer" *ngFor="let item of items.findItemsByKeywordsResponse[0].searchResult[0].item">
                    <div class="item">
                        <a [href]="item.viewItemURL" target="_blank">Ebay</a>
                    </div>
                    <div class="item">
                        {{ item.condition[0].conditionDisplayName }}
                    </div>
                    <div class="item">
                        ${{item["sellingStatus"][0]["currentPrice"][0]["__value__"] }}
                    </div>
                </div>
        </div>

        <div class="upcItems" *ngIf="itemsUpc">
            <div class="itemContainer" *ngFor="let item of itemsUpc.items[0].offers">
                <div class="item">
                    <a [href]="item.link" target="_blank">{{ item.merchant }}</a>
                </div>
                <div class="item">
                    {{ item.condition }}
                </div>
                <div class="item">
                    ${{ item.price }}
                </div>
            </div>
        </div>

    <div *ngIf="!items && !itemsUpc && !itemsAmazon">
        Item can't be found
    </div>


    </div>
    </div>