    <ul *ngIf="items">


        <li *ngFor="let item of items.findItemsByKeywordsResponse[0].searchResult[0].item">
            <img [src] ="item.galleryURL" alt="picture" style="width:100px;height:100px">
            <a [href]="item.viewItemURL">{{ item.title }}</a>
            <p>Condition: {{ item.condition[0].conditionDisplayName }}</p>
            <p>Price: {{item["sellingStatus"][0]["currentPrice"][0]["@currencyId"] }} {{item["sellingStatus"][0]["currentPrice"][0]["__value__"] }}</p>

    
        </li>

    </ul>